

<div>
  <mat-form-field class="search">
    <mat-label>Search by Title or Author or catorgy</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="target"
      (ngModelChange)="applyFilter(target)"
    />
  </mat-form-field>
  <div class="main-content">
    <div *ngFor="let book of allBooks">
      <mat-card class="main-card">
        
        <mat-card-content
          matTooltip="{{ book.title }}"
          matTooltipPosition="above"
        >
          <img
            mat-card-image
            [src]="cleanImage(book.coverFileName)"
            height="300px"
          /> <p style="color: blueviolet;font-weight: bold;">{{ book.title }}</p>
          <div>Price: &#x20b9;{{ book.price }}</div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button
            mat-flat-button
            color="primary"
            (click)="addToCartlist(book.bookId)"
          >
            Add to cart
          </button>
          &nbsp; &nbsp;
          <mat-icon
            (click)="addTowishlist(book.bookId)"
            [ngClass]="toggle ? 'redIcon' : 'blackIcon'"
            >favorite</mat-icon
          >
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
</div>
